body {
  -webkit-font-smoothing: antialiased;
  font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #232525;
}

#slides {
  display: none;
  position:relative;
}

#slides .slidesjs-navigation {
  margin-top:3px;
}

#slides .slidesjs-previous {
  left:0;
  position:absolute; 
  top:50%;
  z-index:10;
  padding-left:20px;
}

#slides .slidesjs-next {
  right:0;
  position:absolute;
  top:50%;
  z-index:10;
  padding-right:20px;
}

.slidesjs-pagination {
  position:absolute;
  text-align:center;
  list-style: none;
  z-index:10;
  left:45%;
  bottom:40px;
  margin:0;
  padding:5px 10px 5px 10px;
  
}

.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url(../img/pagination2.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
  background-position: 0 -26px
}

#slides a:link,
#slides a:visited {
  color: #fff
}

#slides a:hover,
#slides a:active {
  color: rgba(255, 255, 255, 0.5);
}

.navbar {
  overflow: hidden
}

/*A partir de aqui empiezan los estilos de responsive*/
#slides {
  display: none
}

.container {
  margin: 0 auto
}

/* For tablets & smart phones */
@media (max-width: 767px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container {
  width: auto
  }
}

/* For smartphones */
@media (max-width: 480px) {
  .container {
    width: auto
  }

  #slidesjs-next{
    top:40%;
  }
  #slidesjs-previous{
    top:40%;
  }
  #slidesjs-pagination{
    left:10%;
  }
}

/* For smaller displays like laptops */
@media (min-width: 768px) and (max-width: 979px) {
  .container {
    width: auto;
  }
}
/* For larger displays */
@media (min-width: 1200px) {
  .container {
    width: auto;
  }
}
    